.element__delete-button {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 18px;
    width: 100%;
    min-height: 19px;
    padding: 0;
    border: 0;
    transition: opacity 1s;
    cursor: pointer;
    background: center no-repeat url(../../../images/icons/trash.svg);
}

.element__delete-button:hover{
    opacity: 0.5;
}